<h1>{{head}}</h1>

<form [formGroup]="updatePartiallyForm" (ngSubmit)="onSubmit()">

    <div>
        <label for = "id">id: </label>
        <input id="id" type="number" formControlName="id">
    </div>

    <div>
        <button type="submit" [disabled]="!updatePartiallyForm.valid">Details</button>
    </div>


</form>

<div style="text-align: -webkit-center;">
    <table style="width: 1000px;">
        <tr style="font-weight: bold;">
            <td style="width: 10%;">id</td>
            <td style="width: 20%;">title</td>
            <td style="width: 30%;">descriptions</td>
            <td style="width: 20%;">publication_date</td>
            <td style="width: 20%;">viewing_date</td>
        </tr>
        <tr style="height: 30px;"*ngFor="let notice of updatePartially">
            <td>{{notice.id}}</td>
            <td>{{notice.title}}</td>
            <td>{{notice.descriptions}}</td>
            <td>{{notice.publication_date}}</td>
            <td>{{notice.viewing_date}}</td>
        </tr>
    </table>
</div>